/*---------------- reset ----------------*/

*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
}
* {
	font-family: "blackrough_demoregular";
	color: var(--white-theme);
}
ul {
	list-style: none;
}

@font-face {
	font-family: "blackrough_demoregular";
	src: url("assets/font/demon/blackroughdemoregular-webfont.woff2")
			format("woff2"),
		url("assets/font/demon/blackroughdemoregular-webfont.woff")
			format("woff");
	font-weight: normal;
	font-style: normal;
}

/*---------------- colors ----------------*/

:root {
	--golden-yellow: #ffbc42;
	--dark-blue: rgb(0, 122, 141, 0.8);
	--light-blue: #70a288;
	--red-orange: #c0392b;
	--dark-theme: rgb(51, 51, 51, 0.8);
	--white-theme: #ffffff;
}

/*---------------- générale ----------------*/

body {
	background: url("https://images.unsplash.com/photo-1499417267106-45cebb7187c9?auto=format&fit=crop&q=80&w=1619&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
	background-repeat: no-repeat;
	background-position: 50% 70%;
	background-size: cover;
	background-attachment: fixed;
}
section {
	min-height: 100vh;
	font-size: clamp(1.4rem, 3vw, 1.8rem);
}
section h2 {
	position: relative;
	text-align: center;
	color: var(--red-orange);
	padding: 3%;
}
section h2::after {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	background-color: var(--dark-blue);
	transform: skew(0deg, 2deg);
}

.themes h2::after {
	transform: skew(0deg, -2deg);
}

.section-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	background-color: var(--dark-theme);
	padding: 2vw 0;
	margin: 6vh 0;
}

.main-container {
	display: none;
}
.main-container.active {
	display: block;
}
/*---------------- profile ----------------*/

.profile-image {
	width: 20vw;
	height: 30vw;
	min-width: 150px;
	min-height: 225px;
	object-fit: cover;
	border-radius: 1vw;
	align-self: center;
	animation: fadeIn 1s 0.2s ease forwards;
}
.description-container {
	align-self: center;
	width: 25vw;
	min-width: 300px;
}
.description-container h1,
p {
	opacity: 0;
	margin: 2vw 3vw;
}
.description-container h1 span {
	color: var(--red-orange);
}
.description span {
	color: var(--golden-yellow);
}

.description-container h1 {
	animation: slideIn 0.8s 0.3s ease forwards;
}
.description-container :nth-child(2) {
	animation: slideIn 0.8s 0.5s ease forwards;
}
.description-container :nth-child(3) {
	animation: slideIn 0.8s 0.7s ease forwards;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes slideIn {
	from {
		opacity: 0;
		transform: translateX(100px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
/*---------------- parcours ----------------*/

.scolaire,
.professionnel {
	width: 30vw;
	min-width: 250px;
	border-radius: 1vw;
	margin: 1vw;
}
.scolaire *,
.professionnel * {
	margin: 1vw;
}
.scolaire h3,
.professionnel h3 {
	color: var(--golden-yellow);
}
.scolaire ul li,
.professionnel ul li {
	transform: translateX(-100px);
	opacity: 0;
	transition: all 0.5s ease;
}

/*---------------- theme ----------------*/

.theme-container > article {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20vw;
	height: 30vw;
	min-width: 180px;
	min-height: 252px;
	border-radius: 1vw;
	overflow: hidden;
	margin: 1vw;
	transform: scale(0);
	transition: transform 0.5s ease;
}

.theme-image {
	width: 25vw;
	height: 35vw;
	min-width: 200px;
	min-height: 280px;
	object-fit: cover;
	border-radius: 1vw;
}
.theme-image:hover {
	filter: blur(5px);
	transform: scale(0.9);
	transition: transform 0.1s ease;
}
.theme-image:hover + figcaption {
	opacity: 1;
}
.theme-container article > figcaption {
	position: absolute;
	font-size: clamp(2rem, 3vw, 3rem);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-shadow: 3px 3px 20px #282828, -2px 1px 30px #282828;
	opacity: 0;
	transition: opacity 0.1s ease;
}

/*---------------- contact ----------------*/

.formulaire {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 25vw;
	min-width: 280px;
	padding: 0.3vw;
	border: 1px solid var(--dark-theme);
	border-radius: 1vw;
	background-color: var(--white-theme);
	transform: translateX(100px);
	opacity: 0;
	transition: all 0.5s ease;
}
.formulaire input {
	width: 80%;
	height: 2vw;
	min-height: 20px;
}
.formulaire textarea {
	width: 80%;
	height: 16vw;
	min-height: 160px;
}
.formulaire > * {
	margin: 0.4vw 0;
	padding: 0.5vw;
	border-radius: 0.3vw;
}
.contact-container p {
	width: 40%;
	min-width: 200px;
	text-align: justify;
	align-self: self-start;

	transform: translateX(-100px);
	opacity: 0;
	transition: all 0.5s ease;
}
.formulaire label {
	color: var(--dark-theme);
	text-decoration: underline;
}
.submit-form-btn {
	background-color: var(--dark-blue);
	border-radius: 1vw;
	padding: 1vw 2vw;
}

/*---------------- footer ----------------*/

footer {
	display: none;
	justify-content: space-around;
	align-items: center;
	min-height: 10vh;
	font-size: clamp(1.2rem, 2vw, 1.6rem);
	background-color: var(--dark-theme);
}
footer.active {
	display: flex;
}

.social-container {
	display: flex;
}
footer > ul > li > a > img {
	width: 3vw;
	min-width: 25px;
	margin: 1.5vw;
}

/*---------------- loader ----------------*/

.loader-container {
	width: 100%;
	height: 100vh;
	background: #333333;
	display: flex;
	justify-content: center;
	align-items: center;
}
.loader-container.active {
	display: none;
}

@keyframes light {
	to {
		stroke-dashoffset: 244.35121154785156px;
	}
}

svg {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.move {
	stroke-dasharray: 40px;
	z-index: 2;
	animation: light 2s ease-out infinite;
}
.body {
	stroke-dasharray: 10000px;
}

.annecdote-container {
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}
